@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
}

.nav-items {
  @apply block py-2 pr-4 pl-3 text-black rounded hover:text-orange-500 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 lg:mx-3;
}

.dropdown-items {
  @apply block py-2 px-4 hover:text-orange-500 hover:bg-gray-100;
}
